
*.apk
*.aar
*.ap_
*.aab


.gradle/
build/
app/build/
local.properties
.navigation/


.idea/
*.iml
*.iws
.kotlin/
.externalNativeBuild/
.cxx/
cmake-build-*/


*.log
.DS_Store
Thumbs.db


keystore.properties
medimed-release.keystore
.vscode/
